footer {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 4.4rem;
  text-align: center;
}

.footer-icons {
  width: 12.6rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer svg {
  font-size: 1.5rem;
}

.footer-links {
  width: auto;
  margin: 1.7rem auto;
}

.footer-links a {
  padding: 0 1rem;
}
