.container {
  margin-top: 200px;
  font-family: 'DM sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 72px;
  color: #333;
}

h2 {
  font-size: 36px;
  color: #666;
}

p {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}