body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.imdb-logo {
  margin-right: 0.6rem;
}

header {
  width: 100%;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1.5rem 5rem;
}

.nav-sign-in {
  display: flex;
  align-items: center;
}

.nav-sign-in-icon {
  margin-left: 1rem;
  padding: 10px;
  border-radius: 50%;
  background-color: #be123c;
}

#search-form {
  display: none;
  position: relative;
}

.search-icon {
  padding: 4px;
  position: absolute;
  color: white;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

#search-bar {
  width: 12rem;
  height: 1.75rem;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  display: inline-block;
  border: 2px solid;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

#search-bar::placeholder {
  color: white;
}

.top-rated-movie {
  width: 30%;
  height: 100vh;
  margin-top: 3rem;
  overflow-y: auto;
  color: white;
  padding: 0 5rem;
}

.top-rated-movie-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.top-rated-movie-overview {
  font-size: 14px;
  font-weight: 500;
  margin: 1rem 0;
}

.watch-trailer-container {
  width: 10rem;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #be123c;
}

.watch-trailer {
  font-size: 14px;
  font-weight: 700;
}

.play-icon {
  width: 18px;
  align-items: center;
  font-size: 24px;
  margin-right: 10px;
  border: none;
  background-color: #be123c;
  color: white;
}

.featured-movies {
  margin: 3rem auto;
  padding: 2rem;
  max-width: 1000px;
  position: relative;
}

.featured-movies-title {
  font-size: 36px;
  font-weight: 700;
  color: black;
}

.featured-movies-detail {
  font-size: 18px;
  font-weight: 400;
  padding-right: 6rem;
  position: absolute;
  right: 0;
  color: #be123c;
}

.movie-cards {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 1fr;
  margin-top: 3rem;
}

.movie-card {
  margin: 0 auto;
  width: 16rem;
  border: none;
}

.movie-card div {
  padding: 4px 0;
}

.movie-country-and-release-date,
.movie-category {
  font-size: 12px;
  font-weight: 700;
  color: #9ca3af;
}

.movie-title {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
}

.movie-rating {
  font-size: 12px;
  font-weight: 400;
  color: #111827;
}

@media (min-width: 578px) {
  .featured-movies {
    margin: 3rem auto;
  }

  .movie-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 850px) {
  #search-form {
    display: block;
  }

  header {
    padding: 0px;
  }

  #search-bar {
    width: 20rem;
  }

  .featured-movies {
    margin: 3rem auto;
  }

  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.no-result {
  font-size: 32px;
  font-weight: 500;
  /* font-weight: ; */
}

@media (min-width: 1030px) {
  #search-bar {
    width: 30rem;
  }
  .featured-movies {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
